header {
    height: 50px;
    background-color: rgba(49, 49, 49, 0.651);
    text-align: center;
}

header a {
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 15px;
    padding-top: 5px;
}

nav {
    height: 50px;
    background-color: rgba(49, 49, 49, 0.651);
    text-align: center;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
}

section {
    width: 90%;
    margin-left: 65px;
}

section article {
    text-align: justify;
    float: right;
    width: 60%;
}

section img {
    float: left;
    width: 30%;
    padding: 50px;
    margin-left: 10px;
}

p.centerblocs {
width: 350px; /* On a indiqué une largeur (obligatoire) */ 
margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
border: 1px solid black; 
text-align: justify; 
padding: 12px; 
margin-bottom: 20px;
}

hr {
    clear: both;
}


footer {
    height: 50px;
    background-color: rgba(49, 49, 49, 0.651);
    text-align: center;
}

footer p {
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 15px;
    padding-top: 5px;
}

h1, h2 {
    text-align: center;
}
h3 {
    text-align: left;
}

